body {
    font-family: "Arial", sans-serif;
     background-color: #c4a5c4;

    }
    main {
      font-size: 60px;  
      font-weight: bolder;
      text-align: center;
    }
    nav {
      text-align: left;
      color: rgb(29, 153, 56);
    }
    .nav-list {
      text-align: left;
    }
    h1 {
      font-size: 70px;  
      font-weight: bolder;
      text-align: center;
      color: rgb(11, 55, 66);
      text-transform: uppercase;
    }

    h2 {
        font-size: 40px;  
        font-weight: bolder;
        padding: 70px 0px 0px 0px;
        color: rgb(0, 4, 255);
        text-decoration: underline;
      }
        
    .header-phone, .header-email, .git-hub, .discord {
      padding-left: 25px;
      color: rgb(0, 4, 255);
    }
    figure {
        text-align: center;

    }
    p, ul {
        font-size: 32px; 
    }
    pre {
        font-size: 20px;
    }
    div {
      display: flex;
      justify-content: space-between;
       align-items: flex-start;
      flex-wrap: wrap;
      height: 100%;
    }
    footer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 40%;
    }
    
   